{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:functional/external-recommended",
    "plugin:functional/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "prettier/@typescript-eslint"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "ignorePatterns": [
    "coverage/",
    "dist/",
    "node_modules/"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "functional",
    "jsx-a11y",
    "prettier",
    "react"
  ],
  "root": true,
  "rules": {
    "@typescript-eslint/array-type": ["error", {"default": "generic", "readonly": "generic"}],
    "@typescript-eslint/await-thenable": "error",
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/interface-name-prefix": ["warn", {"prefixWithI": "always"}],
    "@typescript-eslint/no-floating-promises": "error",
    "@typescript-eslint/no-for-in-array": "error",
    "@typescript-eslint/no-unused-vars": ["error", {"argsIgnorePattern": "^_"}],
    "@typescript-eslint/prefer-for-of": "error",
    "@typescript-eslint/prefer-readonly": "error",
    "@typescript-eslint/promise-function-async": "error",
    "arrow-parens": ["error", "as-needed"],
    "functional/functional-parameters": "off",
    "functional/no-class": "off",
    "functional/no-conditional-statement": "off",
    "functional/no-expression-statement": "off",
    "functional/prefer-type-literal": "off",
    "jsx-quotes": ["error", "prefer-double"],
    "linebreak-style": ["error", "unix"],
    "newline-before-return": "error",
    "no-console": "warn",
    "no-delete-var": "error",
    "no-eval": "error",
    "no-octal": "error",
    "no-param-reassign": "error",
    "no-sequences": "error",
    "no-trailing-spaces": "error",
    "no-unused-expressions": "error",
    "prefer-const": "error",
    "prefer-object-spread": "error",
    "prefer-template": "error",
    "prettier/prettier": ["error", {"singleQuote": true, "trailingComma": "all"}],
    "quotes": ["error", "single"],
    "react/no-danger": "error",
    "require-await": "error",
    "semi": ["error", "always"],
    "sort-imports": ["error", {"ignoreDeclarationSort": true}],
    "sort-keys": ["error", "asc", {"caseSensitive": true, "natural": false, "minKeys": 2}],
    "use-isnan": "error"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}
